* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}
a {
  text-decoration: none;
}

i.fa-bars {
  display: $displayNone;
}

section {
  background-color: #ffe7d2;
}
