// HEADER

.wrapper {
  width: 80%;
  margin: auto;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid black;
    .logo {
      img {
        vertical-align: $alignMiddle;
        width: 35px;
      }
      span {
        font-size: 120%;
        color: rgb(88, 64, 44);
      }
    }
    ul {
      display: flex;
      list-style: none;
      li {
        margin-left: 35px;
        font-size: 80%;
        font-weight: 500;
        .arrow {
          vertical-align: $alignMiddle;
        }
        a {
          color: rgb(88, 64, 44);
        }
        .btn {
          @include btn ();
          color: #30488F;
          img {
            width: 20px;
            vertical-align: $alignMiddle;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .jumbo {
    display: flex;
    margin: 100px 0px;
    color: #58402c;
    .item {
      width: 50%;
      h1 {
        font-size: $fontSize *3;
        letter-spacing: 1.5px;
        font-weight: 500;
      }
      p {
        margin-top: 35px;
        font-size: $fontSize * 1.3;
        margin-bottom: 35px,
      }
      a {
        @include btn;
        background-color: #30488f;
        color: white;
        font-size: 80%;
        img {
          width: 20px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      span {
        margin: 0 15px;
        font-size: 90%;
        color: lightgrey;
      }
      .arrow-right {
        font-size: 85%;
        i {
          margin-top: 10px;
        }
      }
    }
    .img_jumbo {
      width: 100%;
      flex-basis: 50%;
    }
  }
}
