// // Main

.container_first {
  @include displayFlexColumn;
  text-align: center;
  margin: auto;
  color: #58402c;
  .box_features.line {
    border-bottom: 1px solid black;
  }
  .box_features {
    @include displayFlexColumn;
    max-width: 1300px;
    margin: auto;
    padding: 45px;
    .box_text {
      padding-top: 50px;
      max-width: 700px;
      // min-width: 80%;
      margin: auto;
    }
    .box_img {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      max-width: 880px;
      margin: auto;
      .img_text {
        @include displayFlexColumn;
        flex-basis: 32%;
        padding: 25px;
        align-items: center;
        p {
          padding-top: 35px;
        }
        img {
          height: 120px;
        }
      }
    }
    .img_rubbit {
      padding-top: 70px;
      padding-bottom: 50px;
      margin: auto;
      img {
        width: 50%;
      }
      h3 {
        padding-top: 100px;
        font-size: $fontSize * 1.5;
        font-weight: 500;
      }
    }
  }
}
