// // Main

.container_first {
  @include displayFlexColumn;
  text-align: center;
  width: 55%;
  margin: auto;
  .box_features {
    @include displayFlexColumn;
    .box_text {
      padding-top: 70px;
      width: 80%;
      margin: auto;
    }
    .box_img {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      .img_text {
        @include displayFlexColumn;
        flex-basis: 32%;
        padding: 20px;
        align-items: center;
        img {
          height: 100px;
        }
      }
    }
    .img_rubbit {
      padding-top: 70px;
      img {
        width: 30%;
        // text-align: center;
      }
    }
  }
}
