// // Main

.container_first {
  @include displayFlexColumn;
  text-align: center;
  width: 60%;
  margin: auto;
  .box_features.line {
    border-bottom: 1px solid black;
  }
  .box_features {
    @include displayFlexColumn;
    padding: 45px;
    .box_text {
      padding-top: 50px;
      width: 80%;
      margin: auto;
    }
    .box_img {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      .img_text {
        @include displayFlexColumn;
        flex-basis: 32%;
        padding: 20px 0;
        align-items: center;
        p {
          padding-top: 35px;
        }
        img {
          height: 100px;
        }
      }
    }
    .img_rubbit {
      padding-top: 70px;
      padding-bottom: 50px;
      img {
        width: 30%;
      }
    }
  }
}
