// MEDIA QUERY

@media screen and (max-width: 1200px) {
  .jumbo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 770px) {
  .svg-inline--fa {
    display: block;
  }
  nav ul li {
    display: $displayNone;
  }
}

@media screen and (max-width: 1200px) {
  .jumbo .item {
    // width: 100%;
    height: 50%;
    text-align: center;
  }
}
