// MEDIA QUERY

@media screen and (max-width: 1200px) {
  .jumbo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 790px) {
  i.fa-bars {
    display: block;
  }
  nav ul li {
    display: $displayNone;
  }
  .box_img {
    flex-direction: column;
  }
  .box_img p {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper .jumbo .item {
    width: 100%;
    text-align: center;
  }
}
