@mixin btn {
  padding: 9px 20px;
  border: 1px solid #30488F;
  border-radius: 10px;
  &:hover {
    background-color: #233569;
    color: white;
    transition: .5s;
  }
}

@mixin displayFlexColumn {
  display: flex;
  flex-direction: column;
}

@mixin displayFlexBetween {
  display: flex;
  justify-content: space-between;
}
